@{
    ViewData["Title"] = "Ana Sayfa";
}

<div class="main-content d-flex flex-column">
    <div class="top-bar d-flex justify-content-between align-items-center p-2">
        <span class="logo order-1"><img style="height:40px;" src="~/eyaay.png" alt="Eyaay logo" /></span>
         
    </div>
    <div class="chat-box flex-grow-1 p-3">
        <div class="chat-history"></div>
        <!-- Chat messages will be appended here -->
    </div>
   
    <div class="input-area p-3 ">
        <div class="input-wrapper">
        <div class="input-group">
            <input type="textarea" id="userInput" class="form-control" placeholder="Mesajınızı giriniz...">
            <div class="input-group-append">
                <button class="btn btn-primary" id="sendBtn">
                    <i class="fas fa-paper-plane"></i>
                </button>
            </div>
            </div>
            <small class="small text-center text-muted d-block">Copyright 2024</small>
        </div>
    </div>
</div>
